* {
  padding: 0;
  margin: 0;
}
body {
  height: 300vh;
}
.navbar {
  display: flex;
  margin-top: 30px;
  align-items: center;
}
.logo {
  margin-left: 5%;
}
.khat {
  margin-bottom: 80px;
}
.links {
  margin-left: 60%;
}
.links a {
  all: unset;
  margin-left: 20px;
  color: slategray;
}
.links a:nth-child(4) {
  border: solid 2px#2d2640;
  padding: 5px 15px;
  color: #2d2640;
}
.container {
  display: flex;
  align-items: center;
  margin-top: 30px;
  gap: 30px;
  width: 100%;
  background-color: #05004c;
  height: 80vh;
  position: relative;
}
.content {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 40vh;
  justify-content: space-around;
  margin-left: 150px;
  color: white;
}
.content h1 {
  font-size: 80px;
  width: 90%;
}
.content p {
  margin-top: 20px;
  font-size: 20px;
  color: #b0a8b9;
}
.container button {
  all: unset;
  margin-top: 50px;
  border: 2px solid white;
  width: 12%;
  padding: 5px 15px;
  color: white;
}
.container img {
  margin-top: 250px;
  margin-left: 70px;
}

.container2 {
}

.khat2 {
  margin-bottom: 120px;
}

.content2 {
  margin-top: 250px;
  margin-left: 150px;
  position: relative;
}
.header {
  font-size: 30px;
}

.cards {
  display: flex;
  margin-top: 120px;
  width: 65%;
  margin-left: 15px;
}
.card1 {
  margin-left: ;
}
.card1 img {
  margin-bottom: 25px;
}
.card1 h1 {
  margin-bottom: 20px;
}

.card2 {
  margin-left: 50px;
}
.card2 img {
  margin-bottom: 25px;
}
.card2 h1 {
  margin-bottom: 18px;
}
.card3 {
  margin-left: 50px;
}
.card3 img {
  margin-bottom: 25px;
}
.card3 h1 {
  margin-bottom: 16px;
}

.findo {
  display: flex;
  align-items: center;
  margin-top: 150px;
  margin-left: 30px;
  background-color: #05004c;
  color: white;
  padding: 30px 60px;
  width: 77%;
  position: relative;
}
.findo h1 {
  font-size: 50px;
  width: 40%;
}
.findo p {
  margin-left: 47%;
  border: solid 2px white;
  padding: 5px 15px;
}
.img1 {
  position: absolute;
  left: -5%;
  bottom: -70%;
  height: 65vh;
}

.footer {
  margin-top: 200px;
}

.logo2 {
  margin-left: 75px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  height: 3vh;
}

.social {
  margin-right: 100px;
}
.social img {
  margin-left: 8px;
}
.khat3 {
  margin-left: 73px;
  margin-top: 15px;
  margin-bottom: 60px;
}

.cards2 {
  display: flex;
  margin-left: 73px;
  margin-bottom: 15px;
  gap: 230px;
}

.footer-card h1 {
  font-size: 17px;
  color: #b0a8b9;
  margin-bottom: 12px;
}

.footer-card ul {
  list-style-type: none;
  font-size: 17px;
  color: black;
}
